{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "API to perform administrative tasks",
    "description": "Jazz Admin API to perform administrative tasks",
    "contact": {
      "name": "Jazz Development Team",
      "email": "serverlessdev@t-mobile.com"
    }
  },
  "host": "cloud-api.corporate.t-mobile.com",
  "basePath": "/jazz",
  "schemes": [
    "https"
  ],
  "paths": {
    "/admin/config": {
      "options": {
        "operationId": "{operationId}",
        "description": "CORS Support",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "CORS"
        ],
        "responses": {
          "200": {
            "description": "Default response for CORS method",
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/400ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/401ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/403ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/404ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/500ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Get method to retrieve Jazz configurations",
        "summary": "Returns Jazz configurations as JSON object",
        "operationId": "{operationId}",
        "x-api-pattern": "QueryResource",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Execution",
            "schema": {
              "$ref": "#/definitions/200SuccessResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/400ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/401ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/403ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/404ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/500ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [{
          "jazz_custom-ad-admin-authorizer": []
        }]
      },
      "post": {
        "description": "POST method to add configuration key/value pairs",
        "summary": "Method that updates configuration",
        "operationId": "{operationId}",
        "x-api-pattern": "ExecuteFunction",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "Successful Execution",
            "schema": {
              "$ref": "#/definitions/200SuccessResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/400ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/401ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/403ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/404ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/500ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [{
          "jazz_custom-ad-admin-authorizer": []
        }]
      },
      "delete": {
        "description": "Deleting specific components in Jazz configuration",
        "summary": "Deletes configuration when a specified key is passed in the payload",
        "operationId": "{operationId}",
        "x-api-pattern": "QueryResource",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Successful Execution",
            "schema": {
              "$ref": "#/definitions/200SuccessResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/400ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/401ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/403ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/404ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/500ErrorResponse"
            },
            "headers": {
              "Access-Control-Allow-Headers": {
                "type": "string"
              },
              "Access-Control-Allow-Methods": {
                "type": "string"
              },
              "Access-Control-Allow-Origin": {
                "type": "string"
              }
            }
          }
        },
        "security": [{
          "jazz_custom-ad-admin-authorizer": []
        }]
      }
    }
  },
  "securityDefinitions": {
    "jazz_custom-ad-admin-authorizer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "x-amazon-apigateway-authtype": "custom",
      "x-amazon-apigateway-authorizer": {
        "authorizerCredentials": "{conf-role}",
        "authorizerResultTtlInSeconds": 0,
        "authorizerUri": "arn:aws:apigateway:{conf-region}:lambda:path/2015-03-31/functions/arn:aws:lambda:{conf-region}:{conf-accId}:function:jazz_custom-ad-admin-authorizer-prod/invocations",
        "type": "token"
      }
    }
  },
  "definitions": {
    "200SuccessResponse": {
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/OutputObj"
        },
        "input": {
          "$ref": "#/definitions/InputObj"
        }
      },
      "title": "Success Response"
    },
    "400ErrorResponse": {
      "type": "object",
      "properties": {
        "error_type": {
          "type": "string",
          "default": "Bad Request format"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "401ErrorResponse": {
      "type": "object",
      "properties": {
        "errorType": {
          "type": "string",
          "default": "Unauthorized"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "403ErrorResponse": {
      "type": "object",
      "properties": {
        "errorType": {
          "type": "string",
          "default": "Forbidden"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "404ErrorResponse": {
      "type": "object",
      "properties": {
        "error_type": {
          "type": "string",
          "default": "Resource Not Found"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "500ErrorResponse": {
      "type": "object",
      "properties": {
        "error_type": {
          "type": "string",
          "default": "Internal Server Error"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "InputObj": {
      "type": "object",
      "description": "Config object",
      "properties": {}
    },
    "OutputObj": {
      "type": "object",
      "properties": {
        "config": {
          "type": "object",
          "description": "Jazz configurations as JSON"
        }
      }
    }
  }
}